@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0px;
    height: 100%;
}

.cuadro-grande{
    background-color:#00669F;
    border-radius: 20px;
    width: 650px;
    height: 600px;
    margin: 100px auto;
    padding: 20px;
    color: white;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;

}
input, textarea{
    margin:8px 0px ;
    width: 100%;
    border-radius: 10px;
}

.checkbox{
    width:25px;
  

}

/* .contenedor{
    display: flex;

} 

.column1, .column2{
    display: flex;
    flex-direction: column;
    margin: 1rem;
} */


.column1{
    margin-left:10%;
    margin-right:3%;

}
.column2{
    margin-right:10%;
    margin-left:3%;


}   
.column1, .column2{
    display: inline-block;
    padding:10px;
    vertical-align:top;
    width: 36%;
   
}

label{
    margin: 5px;
}
header {
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: #00669F;
}
.nav-bar {
    height: 1.9rem;
    background-color: #001D2D;
    text-align: end;
}
.nav-bar a{
    text-decoration: none;
    color: white;
}
.page-links {
    display: inline-block;
    color: white;
    padding-top: .3em;
    margin-left: 1em;
    margin-right: 1em;

}

.discount-banner {
    background-color: #1CD1B0;
    font-size: 1em;
    padding: 3px 15px;
    font-weight: 500;
    padding-left: 1em;
}

.tienda-logo{
    height: 70px;
    vertical-align: middle;
}
h1{
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    color: white;
    font-weight: 400;
    font-size: 25px;
}
h2 {
    color: white;
    margin-bottom:0;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}

.subtitle-section{
    text-align: center;
}

main{
    margin-top: 2em;
}

.bigger-button{
    border-radius: 20px;
    background-color:#1CD1B0;
    border:none;
    font-weight: 700;
    margin-top:30px;
    font-size:22px;
    text-align: center;
    width: 400px;
    padding: 10px;
    display: block;
   
    margin:0 auto 10px auto;
}

footer{
    background-color:#00669F;
    padding: 5px;
    text-align: center;
    color:white;
    display: block;
    
}

